{% extends 'campaign/base.html' %}
{% load static %}
{% block title %}About - Lindo Ngodwane{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <img src="{% static 'css/images/lindo_ngodwane.jpg' %}" class="img-fluid rounded" alt="Lindo Ngodwane">
        </div>
        <div class="col-md-8">
            <h1 class="display-4 text-danger">Lindo Ngodwane</h1>
            <h2 class="text-muted">For Parliament Member</h2>
            <p class="lead">Born in 1997, Lindo Ngodwane, a seasoned diplomat and strategist, has dedicated her career to international cooperation.</p>
            <p>With a doctorate in international relations, she has served as an ambassador to three provinces, fostering alliances and negotiating agreements. 
                As a senior advisor at the University of Cape Town, Lindo works tirelessly to address poverty, education, and crime. Her commitment to these areas continues to shape a better tomorrow.</p>
            <hr class="my-4">
            <p class="font-italic">"Shaping a better tomorrow through dedication and service."</p>
        </div>
    </div>
</div>
{% endblock %}

